.updated-badge-container {
    margin-top: 2em;
    text-align: center;
}

.updated-badge-left {
    fill: var(--color-contrast-low);
}

.updated-badge-right {
    fill: alpha(var(--color-primary), 0.5);
}
