<style type="text/css">
    .single .main-inner {
        width: 50em;
    }

    .emo .year {
        text-align: center;
        font-size: 35px;
    }

    .emo .entries {
        width: 100%;
        margin: auto;
        position: relative;
        left: -5px;
        overflow: auto;
    }

    .emo .entries:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 4px;
        background-color: var(--color-contrast-medium);
    }

    .emo .entry {
        width: calc(50% - 65px);
        float: left;
        height: 100%;
        padding: 20px 5px 20px 5px;
        clear: both;
        text-align: right;
    }

    .emo .entry .body {
        margin-bottom: 2em;
    }

    .emo .entry .body p {
        line-height: 1.4em;
        color: var(--color-contrast-high);
        text-align: right;
    }

    .emo .entry:not(:first-child) {
        margin-top: -60px;
    }

    .emo .entry .title {
        font-size: 20px;
        position: relative;
        color: var(--color-contrast-higher);
    }

    .emo .entry .title:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border: 4px solid #ffffff;
        border-color: var(--color-contrast-high);
        background-color: var(--color-bg);
        border-radius: 100%;
        top: 50%;
        transform: translateY(-50%);
        right: -68px;
        z-index: 1;
    }

    .emo .entry .title .time {
        font-size: 15px;
        color: var(--color-contrast-medium);
    }

    .emo .entry .title .big:before {
        width: 24px;
        height: 24px;
        transform: translate(8px, -50%);
    }

    .emo .entry:nth-child(2n) {
        text-align: left;
        float: right;
    }

    .emo .entry:nth-child(2n) .title:before {
        left: -68px;
    }

    .emo .entry:nth-child(2n) .title .big:before {
        transform: translate(-8px, -50%);
    }

    .emo .entry:nth-child(2n) .body p {
        text-align: left;
    }

    .img-box {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        border-radius: 12px;
        overflow: hidden;
    }

    .emo .entry:nth-child(2n) .img-box {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .img-box .img-item {
        position: relative;
        width: 30%;
        /*margin: 0 5px 5px 0;*/
        overflow: hidden;
    }

    .img-box .img-item img {
        margin: 0;
        width: 100%;
        /*height: auto;*/
        height: 100%;
        object-fit: cover;
        max-height: 1000px;
    }

    @media screen and (max-width: 900px) {
        .emo .year {
            text-align: left;
        }

        .emo .entries:before {
            left: 5%;
        }

        .emo .entry {
            width: calc(95% - 30px);
            float: right;
            text-align: left;
        }

        .emo .entry .title:before {
            left: -33px;
        }

        .emo .entry:nth-child(2n) .title:before {
            left: -33px;
        }

        .img-box {
            flex-direction: row;
        }

        .emo .entry .body p {
            text-align: left;
        }

    }

</style>

{{ define "emo" }}

<div class="emo">
    {{ $ := index . "$" }}
    {{ $list := .list }}

    {{ range first 1 $list }}
    <div class="year">
        {{ dateFormat "Jan 2006" .timestamp }}
    </div>
    {{ end }}

    <div class="entries">

        {{ range sort $list "timestamp" "desc"}}
        <div class="entry">
            <div class="title">
                <span>{{ dateFormat "Mon 01/02" .timestamp }}</span>
                <span class="time">{{ dateFormat "15:04" .timestamp }}</span>
            </div>
            <div class="body">
                <p>{{ .content }}</p>
                <div class="img-box">
                    {{ $imageLen := .images | len }}
                    {{ $mm := mod $imageLen 3 }}

                    {{ $maxWidth := 33.33 }}
                    {{ $maxHeight := 130 }}

                    {{ if eq $imageLen 1 }}
                    {{ $maxWidth = 100 }}
                    {{ $maxHeight = 500 }}
                    {{ else if eq $imageLen 2 }}
                    {{ $maxWidth = 50 }}
                    {{ $maxHeight = 400 }}
                    {{ end }}


                    {{ range $index, $value := .images }}
                    {{ if and (eq $mm 2) (gt (add $index 3) $imageLen) }}
                    {{ $maxWidth = 50 }}
                    {{ $maxHeight = 400 }}
                    {{end}}
                    {{ if and (eq $mm 1) (gt (add $index 2) $imageLen) }}
                    {{ $maxWidth = 100 }}
                    {{ $maxHeight = 400 }}
                    {{end}}

                    <div class="img-item"
                         style=";width: {{ $maxWidth }}%; max-height: {{$maxHeight}}px;">
                        <img data-src="{{ $.Site.Params.blogImagePrefix }}{{ $value }}"
                             class="img-thumbnail " alt="">
                    </div>
                    {{ end }}

                </div>
            </div>
        </div>
        {{ end }}
    </div>

</div>
{{ end }}


{{ range sort $.Site.Data.emo "date" "desc" }}
{{ template "emo" (dict "$" $ "list" .list)}}
{{ end }}

<script>
    // 图片懒加载
    var imgs = document.querySelectorAll('img');
    // offsetTop是元素与offsetParent的距离，循环获取直到页面顶部
    function getTop(e) {
        var T = e.offsetTop;
        while(e = e.offsetParent) {
            T += e.offsetTop;
        }
        return T;
    }

    function lazyLoad(imgs) {
        var H = document.documentElement.clientHeight;//获取可视区域高度
        var S = document.documentElement.scrollTop || document.body.scrollTop;
        for (var i = 0; i < imgs.length; i++) {
            if (H + S > getTop(imgs[i])) {
                imgs[i].src = imgs[i].getAttribute('data-src');
            }
        }
    }

    window.onload = window.onscroll = function () { //onscroll()在滚动条滚动的时候触发
        lazyLoad(imgs);
    }
</script>